appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
boto3==1.26.100
botocore==1.29.100
certifi==2022.12.7
cftime==1.6.2
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
DateTime==5.1
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fonttools==4.39.3
fsspec==2023.3.0
h5netcdf==1.1.0
h5py==3.8.0
idna==3.4
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1677617314627/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
jmespath==1.0.1
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
netCDF4==1.6.3
numba==0.56.4
numba-progress==0.0.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
pygrib==2.1.4
pyparsing==3.0.9
pyproj==3.4.1
pysofar==0.1.14
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.2
requests==2.28.2
roguewave==0.2.12
s3fs==0.4.2
s3transfer==0.6.0
scipy==1.10.1
six==1.16.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
tqdm==4.65.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
urllib3==1.26.15
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
xarray==2023.3.0
zope.interface==6.0
